<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-list>
        <h3 style="text-align: center">{{contact.name?.display }}</h3>
        <ion-item *ngFor="let item of contact?.phones"
          >{{item?.type}} number: {{item?.number}}</ion-item
        >
        <ion-item *ngFor="let item of contact?.emails"
          >{{item?.type}} address: {{item?.address}}</ion-item
        >
        <ion-item *ngIf="contact?.organization?.company"
          >company: {{contact.organization?.company}}</ion-item
        >
        <ion-item *ngIf="contact?.organization?.department"
          >department: {{contact.organization?.department}}</ion-item
        >
        <ion-item *ngIf="contact?.organization?.jobTitle"
          >job title: {{contact.organization?.jobTitle}}</ion-item
        >
      </ion-list>
      <!-- <ion-title size="large">{{href}}</ion-title> -->
      <!-- {{id}} {{contact | json}} -->
    </ion-toolbar>
  </ion-header>
</ion-content>
